* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: #0d0429;
  background: radial-gradient(
    circle,
    rgba(13, 4, 41, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(30, 67, 71, 1) 100%
  );
}
